.label-box {
  background-color: #005AA1;
}

.label-box span {
  color: #FFFFFF;
}

.background-image {
  min-height: 40px;
  background-image: url('/assets/images/libled.jpg');
  background-size: cover;
  background-position: center;
}
