<div class="container">
  <div class="row">&nbsp;</div>
  <header class="row header-navbar">
    <div class="col-12 col-md-3 d-flex flex-row justify-content-center justify-content-md-start align-items-center">
      <img class="m-4" ngSrc="assets/images/logo.svg" alt="Logo" height="40" width="140" priority>
    </div>
    <nav class="col-12 col-md-8 d-flex flex-column flex-md-row align-items-center">
      <div class="h-100">
        <a class="p-3" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Avaleht</a>
      </div>
      <div class="h-100">
        <a class="p-3" routerLink="/view/event/add" routerLinkActive="active"
           ariaCurrentWhenActive="page">Ürituse Lisamine</a>
      </div>
    </nav>
    <div class="col-12 col-md-1 d-flex flex-row justify-content-end align-items-center">
      <img class="m-2 me-4" ngSrc="assets/images/symbol.svg" alt="Symbol" height="60" width="60"
           priority>
    </div>
  </header>
  <div class="row">&nbsp;</div>
  <router-outlet></router-outlet>
  <div class="row">&nbsp;</div>
  <div class="row">
    <footer class="container">
      <div class="row">
        <div class="col-6 col-lg-3 p-4">
          <h3>Natuke Meist</h3>
          <a class="d-block" href="#">Link kuskile</a>
          <a class="d-block" href="#">Link siia</a>
          <a class="d-block" href="#">Link sinna</a>
          <a class="d-block" href="#">Link kuhu?</a>
        </div>
        <div class="col-6 col-lg-3 p-4">
          <h3>Vaata Siia Ka</h3>
          <a class="d-block" href="#">Link 1</a>
          <a class="d-block" href="#">Link 2</a>
          <a class="d-block" href="#">Link 3</a>
          <a class="d-block" href="#">Link 4?</a>
        </div>
        <div class="col-lg-3 p-4 d-flex flex-column flex-nowrap">
          <h2>Kontakt</h2>
          <span class="fw-bold fs-6">Peakontor: Tallinas</span>
          <span>Väike-Ammerika 1, 11415 Tallinn</span>
          <span>Telefon: 605 4589</span>
          <span>Faks: 605 4589</span>
        </div>
        <div class="col-lg-3 p-4 d-flex flex-column flex-nowrap align-self-end">
          <span class="fw-bold fs-6">Harukontor: Võrus</span>
          <span>Oja tn. 7 (külastusaadress)</span>
          <span>Telefon: 605 4589</span>
          <span>Faks: 605 4589</span>
        </div>
      </div>
    </footer>
  </div>
</div>
