<div class="container">
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <header class="header-navbar">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <img ngSrc="assets/images/logo.svg" alt="Logo" height="40" width="140" priority>
          </div>
          <div class="col-lg-8">
            <nav>
                <a class="text-uppercase"
                   routerLink="/home"
                   routerLinkActive="active" ariaCurrentWhenActive="page"><span class="p-4">Avaleht</span></a>
                <a class="text-uppercase"
                   routerLink="/add-event"
                   routerLinkActive="active"
                   ariaCurrentWhenActive="page"><span class="p-4">Ürituse
                  Lisamine</span></a>
            </nav>
          </div>
          <div class="col-lg-1">
            <img ngSrc="assets/images/symbol.svg" alt="Symbol" height="60" width="60" priority>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">
      <footer>
        <div>4 columns</div>
      </footer>
    </div>
  </div>
</div>
