<div class="row" style="height: 60px;">
  <div class="col-lg-3 p-0 title">
    <span class="fs-2 d-block text-center">Osavõtja info</span>
  </div>
  <div class="col-lg-9 p-0" style="background-image: url('../../../assets/images/libled.jpg');"></div>
</div>
<div class="row">
  <div class="col-lg-3">&nbsp;</div>
  <div class="col-lg-9 p-0">
    <div class="container">
      <div class="row-cols-2 p-2">
        <div class="col-12"><span class="fs-4 form-label">Osavõtja info</span></div>
      </div>
      <div class="row p-2">
        <div class="col-3">Ürituse nimi:</div>
        <div class="col-9"></div>
      </div>
      <div class="row p-2">
        <div class="col-3">Toimumise aeg:</div>
        <div class="col-9"></div>
      </div>
      <div class="row p-2">
        <div class="col-3">Koht:</div>
        <div class="col-9"></div>
      </div>
    </div>
  </div>
</div>
