<div class="row">
  <div class="col-lg-6 p-0">
    <div class="h-100 slogan-box position-relative">
      <span class="position-absolute top-50 start-50 translate-middle fs-4 w-100 p-5">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span
        class="fw-bold">Lorem Ipsum</span> has been the
        industry's standard dummy text ever since the <span class="fw-bold">1500s</span>, when an unknown printer took a galley of type and scrambled
        it to make a type specimen book.
      </span>
    </div>
  </div>
  <div class="col-lg-6 p-0"><img class="w-100" src="assets/images/pilt.jpg" alt="Pilt"></div>
</div>
<div class="row">
  <div class="col">&nbsp;</div>
</div>
<div class="row">
  <div class="col-md-6 p-0">
    <div class="p-4 title position-relative">
      <span class="position-absolute top-50 start-50 translate-middle fs-3">Tulevased üritused</span>
    </div>
    <div class="m-3">
      <div class="container">
        <div class="row" *ngFor="let event of newEvents; let i=index">
          <div class="col">{{ i + 1 }}. {{ event.name }}</div>
          <div class="col">{{ event.startDate }}</div>
          <div class="col"><a href="">OSAVÕTJAD</a></div>
          <div class="col"><a href="">X</a></div>
        </div>
      </div>
      <p class="text-start">
        <a class="text-uppercase text-decoration-none fw-bold add-event-link"
           routerLink="/add-event">Lisa Üritus</a>
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="p-4 title position-relative">
      <span class="position-absolute top-50 start-50 translate-middle fs-3">Toimunud üritused</span>
    </div>
    <div class="container">
      <div class="row" *ngFor="let event of oldEvents; let i=index">
        <div class="col">{{ i + 1 }}. {{ event.name }}</div>
        <div class="col">{{ event.startDate }}</div>
        <div class="col"><a href="">OSAVÕTJAD</a></div>
      </div>
    </div>
  </div>
</div>
