.slogan-box {
  background-color: #005AA1;
}

.slogan-box span {
  color: #FFFFFF;
}

.title {
  background-color: #005AA1;
}

.title span {
  color: #FFFFFF;
}

.add-event-link {
  color: #666666;
}
