.slogan-box {
  background-color: #005AA1;
  color: #FFFFFF;
}

.event-box {
  background-color: white;
}

.title {
  background-color: #005AA1;
}

.title span {
  color: #FFFFFF;
}

a.link {
  color: #666666;
}

.background-image {
  min-height: 300px;
  background-image: url('/assets/images/pilt.jpg');
  background-size: cover;
  background-position: center;
}
