<div class="row" style="height: 60px;">
  <div class="col-lg-3 p-0 title">
    <span class="fs-2 d-block text-center">Ürituse lisamine</span>
  </div>
  <div class="col-lg-9 p-0" style="background-image: url('../../../../assets/images/libled.jpg');"></div>
</div>
<div class="row">
  <div class="col">
    <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
      <div class="container" style="max-width: 500px;">
        <div class="row-cols-2 p-2">
          <div class="col-12"><span class="fs-4 form-label">Ürituse lisamine</span></div>
        </div>
        <div class="row p-2">
          <div class="col-5"><label for="name">Ürituse nimi:</label></div>
          <div class="col-7">
            <span class="error" *ngIf="submitForm.get('name')?.hasError('server')">
              {{ submitForm.get('name')?.getError('server') }}
            </span>
            <input id="name" formControlName="name" type="text" maxlength="100" class="w-100"/>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-5"><label for="startDateTime">Toimumise aeg:</label></div>
          <div class="col-7">
            <span class="error" *ngIf="submitForm.get('startDateTime')?.hasError('server')">
              {{ submitForm.get('startDateTime')?.getError('server') }}
            </span>
            <input id="startDateTime" formControlName="startDateTime" type="text" class="w-100"
                   placeholder="pp.kk.aaaa hh:mm"/>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-5"><label for="location">Koht:</label></div>
          <div class="col-7">
            <span class="error" *ngIf="submitForm.get('location')?.hasError('server')">
              {{ submitForm.get('location')?.getError('server') }}
            </span>
            <input id="location" formControlName="location" type="text" maxlength="100" class="w-100"/>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-5"><label for="description">Lisainfo:</label></div>
          <div class="col-7">
            <span class="error" *ngIf="submitForm.get('description')?.hasError('server')">
              {{ submitForm.get('description')?.getError('server') }}
            </span>
            <textarea id="description" formControlName="description" maxLength="1000" class="w-100" rows="5"></textarea>
          </div>
        </div>
        <div class="row-cols-2 p-2">
          <div class="col-12">
            <button routerLink="/home" class="btn btn-secondary">Tagasi</button>
            &nbsp;
            <button type="submit" class="btn submit-button">Lisa</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
