body {
  font-family: 'Roboto', sans-serif;
  background-color: #EEF2F5;
}

input, textarea, select {
  width: 250px;
  clear: both;
  display: block;
}

span.success {
  color: green;
  clear: both;
}

span.error {
  color: brown;
  clear: both;
}

.form-label {
  color: #005AA1;
}

.form-submit-button, .form-submit-button:hover {
  background-color: #005AA1;
  color: #FFFFFF;
}

footer {
  background-color: #373737;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}
