<div class="row" style="height: 60px;">
  <div class="col-lg-3 p-0 title">
    <span class="fs-2 d-block text-center">Osavõtjad</span>
  </div>
  <div class="col-lg-9 p-0" style="background-image: url('../../../../assets/images/libled.jpg');"></div>
</div>
<div class="row">
  <div class="col">
      <div class="container" style="max-width: 500px;">
        <div class="row-cols-2 p-2">
          <div class="col-12"><span class="fs-4 form-label">Osavõtjad</span></div>
        </div>
        <div class="row p-2">
          <div class="col-5">Ürituse nimi:</div>
          <div class="col-7">
            TODO
          </div>
        </div>
        <div class="row p-2">
          <div class="col-5">Toimumise aeg:</div>
          <div class="col-7">
            TODO
          </div>
        </div>
        <div class="row p-2">
          <div class="col-5">Koht:</div>
          <div class="col-7">
            TODO
          </div>
        </div>
        <div class="row p-2">
          <div class="col-5">Osalejad</div>
          <div class="col-7">
            TODO
          </div>
        </div>
        <div class="row-cols-2 p-2">
          <div class="col-12">
            <button routerLink="/home" class="btn btn-secondary">Tagasi</button>
            &nbsp;
            <button type="submit" class="btn submit-button">Lisa</button>
          </div>
        </div>
      </div>
  </div>
</div>
